language: node_js
node_js:
  - "stable"
env:
  global: CC_TEST_REPORTER_ID=e6f648848c87ac2be5aad3ee6ebac26afa249b2e93eaa163fc45ae4e689366df
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
cache:
  directories:
    - "node_modules"
after_success:
- npm run coverage
