

.table
{
    width: 100%;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
}

.table th
{
    text-transform: uppercase;
    color: #1e1d1d;
    font-weight: bold;
    padding: 10px 10px 15px;
}

.table td
{
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #82828d;
}

.fa.no-blink
{
    -webkit-animation: none;
    -o-animation: none;
    -moz-animation: none;
    animation: none;
}

.table-clickable tbody tr
{
    cursor: pointer;
}

.table .profile-name
{
    display: inline-block;
    margin-left: 47px;
    position: relative;
    top: 2px;
}

.table .profile-img
{
    margin-top: -6px;
}

.table-striped tbody tr:nth-of-type(odd)
{
    background-color: #f8fafd;
}

.table .report-item-location
{
    font-weight: normal;
}

.table-wrapper
{
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: visible;
    position: static;
}

.table-wrapper td,
.table-wrapper th
{
    white-space: nowrap;
}

@media (min-width:890px)
{
    .table-wrapper td,
    .table-wrapper th
    {
        white-space: inherit;
    }
}

.table-instructions
{
    padding: 10px;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
    color: #919191;
}

.tab
{
    margin-bottom: 20px;
}

.tab a,
.tab button
{
    color: #82828d;
    border-bottom: 2px solid transparent;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}

.tab a.active
{
    border-bottom: 2px solid #009f8b;
    color: #009f8b;
}

.tab a:hover
{
    color: #009f8b;
}

.tab-pending::before
{
    color: #141313;
}

.pager
{
    margin-top: 20px;
    padding-left: 10px;
}

.pager a
{
    font-size: 18px;
    padding: 5px 7px;
}

.pager span
{
    margin-right: 10px;
    font-weight: bold;
}

@media (min-width:890px)
{
    .table-wrapper
    {
        padding-bottom: 0px;
    }
}

@media (min-width:450px)
{
    .tab a,
    .tab button
    {
        margin-left: 10px;
        font-size: 14px;
    }
}

.table .flag
{
    position: static;
    margin-right: 5px;
    opacity: 0.7;
    background-color: transparent;
}

.heading a
{
    color: white;
    margin-top: 10px;
}

.heading
{
    margin-bottom: 40px;
}

.badge
{
}

.status
{
    color: rgba(255, 255, 255, 0.87);
    padding: 1px 10px 8px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.status img
{
    position: relative;
    top: 5px;
    margin-left: 7px;
    opacity: 0.8;
    transition: inherit;
}

@media (min-width:600px)
{
    .table td
    {
        font-size: 13px;
    }
}

.status:hover, .status:hover img
{
    opacity: 1;
    color: white;
}

.table .toggle-menu
{
    min-width: 130px;
    right: auto;
    position: absolute;
    left: auto;
    top: auto;
    bottom: auto;
    z-index: 5;
}

.table .toggle-menu .fa
{
    position: absolute;
    left: 10px;
    top: 13px;
}

.table .toggle-menu li
{
    padding: 10px 20px 10px 30px;
    text-align: left;
}

.table .toggle-menu .toggle-line
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.table  .toggle-menu li:hover
{
    color: #009f8b;
}

.table .table-pending
{
    opacity: 0.7;
}

.table .toggle
{
    position: static;
}

.z-index-hg
{
    z-index: 101;
}

.table .toggle-menu li:hover
{
    background-color: #F7F8FB;
}

.toggle select
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    cursor: pointer;
}

.table-overflow
{
    position: relative;
    overflow: visible;
    margin-bottom: 100px;
}

.profile-img-reports
{
    width: 35px;
    height: 35px;
}

.pop .report-item
{
    padding: 0px;
    border: none;
    box-shadow: none;
    margin-left: -10px;
    margin-right: -10px;
}

@media (min-width:600px)
{
    .pop .report-item
    {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.pop-modal .pop-footer
{
    text-align: right;
}

