

.reports-wrapper
{
    padding-top: 70px;
    padding-bottom: 70px;
}

.report-item
{
    margin-bottom: 30px;
    padding: 30px 20px;
    background-color: white;
    min-height: 100px;
    overflow: auto;
}

.profile-img-bg
{
    background-color: #f7f7f7;
    width: 170px;
    height: 170px;
    border-radius: inherit;
}

.report-item-content
{
    position: relative;
    color: #82828d;
}

.report-item h5
{
    font-weight: bold;
    font-size: 14px;
    margin-left: 70px;
    text-transform: capitalize;
}

.report-item h6,
.report-title
{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
}

.report-item p
{
    font-size: 13px;
    color: rgba(68, 64, 64, 0.79);
    font-weight: normal;
}

.report-item-date
{
    font-size: 11px;
    margin-right: 5px;
    margin-left: 70px;
    right: 0px;
}

.report-item-attachments
{
    text-align: center;
    color: #377dff;
    font-weight: bold;
    float: right;
    position: relative;
    top: 12px;
    font-size: 15px;
}

.report-item-share
{
    font-size: 19px;
    padding: 2px 5px;
}

.report-item-footer
{
    position: relative;
}

.report-item-verified
{
    position: absolute;
    background-color: #00c9a7;
    color: white;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    padding-top: 1px;
    right: -4px;
    bottom: 6px;
    border: 2px solid white;
}

.profile-img
{
    border-radius: 100%;
    position: absolute;
}

.report-item .badge-status
{
    margin-top: 10px;
    color: white;
    display: block;
    max-width: 100px;
    margin-left: 70px;
    text-align: center;
}

.report-item-link
{
    margin-top: 15px;
    font-size: 15px;
}

.reports-column
{
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

@media (min-width:480px)
{
    .report-item-content
    {
        margin-left: 70px;
    }
    .report-item h5,
    .report-item-date
    {
        margin-left: 0px;
    }
}

.report-item-location
{
    margin-left: 0px;
    position: relative;
}

.report-summary
{
    margin-top: 20px;
    margin-bottom: 0px;
}

.report-summary li span
{
    display: block;
    font-size: 17px;
    font-weight: bold;
}

.report-summary li span:last-child
{
    font-size: 12px;
    color: #939393;
    font-weight: normal;
}

.report-summary li
{
    border-right: 1px solid #ddd;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.report-summary li:last-child
{
    border: none;
}

.report-box-title
{
    font-size: 17px;
}

.report-type>p
{
    margin-bottom: 30px;
}

.report-box h4
{
    margin-bottom: 0px;
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.report-type .column
{
    width: 100%;
}

@media (min-width:500px)
{
    .report-type .column
    {
        width: 50%;
    }
}

.report-box input
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.report-box
{
    overflow: hidden;
    padding-left: 60px;
}

form .report-box p
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-bottom: 0px;
}

@media (min-width:480px)
{
    .report-item .badge-status
    {
        margin-left: 0px;
    }
}

.report-box input[disabled]
{
    cursor: not-allowed;
}

.badge-status
{
    display: inline-block;
    padding: 4px 7px;
    font-size: 9px;
    border-radius: 30px;
    margin-top: 5px;
    letter-spacing: 1px;
    background-color: #00c9a7;
    color: white;
    font-weight: bold;
}

.badge-status .fa
{
    margin-right: 5px;
    color: inherit;
}

.status-badge-rejected, .status-badge-rejected::before
{
    background-color: #e14837;
    color: #e14837;
}

.status-badge-investigating, .status-badge-investigating::before
{
    border-color: #ffc107;
    background-color: #f0ad4e;
    color: #f0ad4e;
}

.status-badge-investigating .fa
{
    -webkit-animation: blink 300ms linear 0s infinite alternate;
    -o-animation: blink 300ms linear 0s infinite alternate;
    -moz-animation: blink 300ms linear 0s infinite alternate;
    animation: blink 300ms linear 0s infinite alternate;
}

.bg-status-draft
{
    background-color: #e8e8e8;
    color: #141313;
}

.status-badge-draft, .status-badge-draft::before, .status-badge-pending, .status-badge-pending::before
{
    background-color: #302c2c;
}

.bg-status-resolved
{
    color: #00c9a7;
    background-color: #e5f9f6;
}

.badge
{
    display: inline-block;
    border-radius: 50px;
    font-size: 10px;
    color: white;
    padding: 3px 4px 2px;
    text-align: center;
    margin-left: 3px;
    position: relative;
    bottom: 1px;
}

.badge-red
{
    background-color: #de4437;
    color: white;
}

.profile-wrapper
{
    position: relative;
    overflow: auto;
    text-align: center;
}

.profile-wrapper .profile-img
{
    position: relative;
    display: inline-block;
}

.profile-wrapper button
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 270px;
}

.summary .fa
{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    border-radius: 50px;
    float: left;
}

.summary
{
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.summary p
{
    margin-left: 80px;
    color: #222020;
    font-size: 30px;
    position: relative;
    bottom: 3px;
    margin-bottom: 0px;
}

.heading
{
    background-color: #009f8b;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

video
{
    width: 100%;
    margin-top: 20px;
    background-color: #0c0c0c;
}

[name ='file']
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.profile-img-reports
{
    width: 50px;
    height: 50px;
    background-color: #efefef;
    background-size: cover;
    background-position: top;
    border-radius: 50px;
}

.profile-img img
{
    border-radius: inherit;
}

.create-report-details
{
    overflow: hidden;
}

.report-box .fa
{
    top: 4px;
    position: absolute;
    right: 0px;
}

.report-item h1 .fa
{
    position: relative;
    left: 10px;
    top: -1px;
    font-size: 12px;
}

.incident-summary-box
{
    margin-bottom: 30px;
}

.upload-pane
{
    border-top: 1px dashed rgba(0,0,0,0.2);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.padding-zero-btm
{
    padding-bottom: 0px;
}

.report-box-title + p
{
    margin-bottom: 30px;
    margin-top: 3px;
}

.disabled .radio-fine:checked + div::before
{
    opacity: 0.6;
}

.status-badge-resolved::before, .status-badge-resolved
{
    background-color: #00c9a7;
    color: #00c9a7;
}

