

.login-wrapper p
{
    font-weight: bold;
    font-size: 14px;
    color: rgba(119, 131, 143, 0.53);
    margin-left: auto;
    margin-right: auto;
}

.login-wrapper
{
    min-height: 100vh;
    padding-bottom: 70px;
}

.form-wrapper
{
    margin-bottom: 30px;
}

.form-element
{
    height: 40px;
    border: 1px solid #d5dae2;
    display: block;
    width: 100%;
    padding: 5px 15px;
    box-shadow: inset 1px 1px rgba(0,0,0,0.07);
    font-size: 16px;
    color: #706b6b;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    font-family: inherit;
}

form label
{
    color: #7a6e6e;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-element:focus
{
    box-shadow: 0 0 25px rgba(8, 131, 115, 0.1);
    border-color: rgba(8, 131, 115, 0.6);
}

.checkbox, .radio
{
    margin-bottom: 10px;
}

.checkbox a
{
    font-size: inherit;
    float: none;
}

.checkbox label
{
    color: #959393;
    cursor: pointer;
}

form label span
{
    font-size: 80%;
}

@media (min-width:600px)
{
    .login-wrapper form h1
    {
        font-size: 38px;
    }
}

.form-instructions
{
    display: inline-block;
    margin-bottom: 30px;
    font-style: italic;
    color: #8b2626;
    font-weight: bold;
}

textarea.form-element
{
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

.form-header
{
    margin-bottom: 30px;
}

::placeholder
{
}

.text-helper
{
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

